{% extends 'movie/base.html' %}
{% block content %}
<div class="container">
    <div style="margin-top:2%;">         
        <div class="col-md-12 text-right" >
            <button class="btn btn-success" onclick="location.href='/register'">Signup</button>
            <button class="btn btn-success" onclick="location.href='/login'">Signin</button>
        </div>
    </div>
    <div class="row mx-auto justify-content-center align-items-center flex-column"style="margin-top:20%">
        <h1>Welcome To Movie Poster Management</h1>
    </div>
    
</div>
{% endblock %}