{% extends "movie/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h3 style="margin-top: 10px;">User Registration</h3>
    <div class="col-md-12 text-right" >
        <button class="btn btn-success" onclick="location.href='/'">back</button>
    </div>    
    <form method="post" class="form-group">
        {% csrf_token %}
        {{form | crispy}}
        <button type="submit" class="btn btn-success">Register</button>
        <p>Have an account?<a href="/login">here</a></p>
    </form>
    
</div>


{% endblock %}